<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>GAZUAAAAAAAAA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<my-app>Loading...</my-app>

<script src="/js/app/bundle.js"></script>
</body>
<footer>
    <div class="disclaimer">
        <p> <b>Disclaimer</b> </p>
        <ul>
            <li><sup>*</sup>the amounts are estimates and do not reflect the actual cost to buy listed merchants</li>
            <li>Please invest at your own risk. There's opportunity to make a lot of money, but not everyone wins</li>
            <li>The date picker's not at its optimal state. Please avoid using invalid dates (e.g. 02/31/2017).</li>
        </ul>
    </div>
</footer>
</html>
